---
layout: page
title: Topics
header: Browse by Topic
group: navigation
---

{%- capture all_names -%}
{%- for c in site.categories -%}{{ c[0] | strip_newlines }},{%- endfor -%}
{%- for t in site.tags -%}{{ t[0] | strip_newlines }},{%- endfor -%}
{%- endcapture -%}
{% assign topic_names = all_names | split:',' | uniq | sort_natural %}

<div class="col-sm-3 col-xs-6 col-sm-push-9" style="padding-left: 20px;">
    <ul class="nav nav-tabs-vertical cat-tag-menu" id="topics-menu-all" style="margin-bottom: 10px;">
      <li data-topic-name="all" data-topic-type="all" data-topic-count="{{ site.posts.size }}">
          <a href="#all-ref">
            <i class="fa fa-th-list" style="color: #666; margin-right: 6px;"></i>
            All Posts
            <span class="badge pull-right">{{ site.posts.size }}</span>
         </a>
      </li>
    </ul>
    <div class="topics-filter-container" style="margin-bottom: 15px;">
        <input type="text" id="topics-filter" class="form-control" placeholder="Filter topics..." />
    </div>
    <ul class="nav nav-tabs-vertical cat-tag-menu" id="topics-menu" data-sort-by-count="true">
      {% for name in topic_names %}
        {% assign this_word = name | strip %}
        {% if this_word == "" %}{% continue %}{% endif %}
        {% assign merged = "" | split: "" %}
        {% if site.categories[this_word] %}{% assign merged = merged | concat: site.categories[this_word] %}{% endif %}
        {% if site.tags[this_word] %}{% assign merged = merged | concat: site.tags[this_word] %}{% endif %}
        {% assign merged = merged | uniq %}
        <li data-topic-name="{{ this_word | downcase }}" data-topic-type="topic" data-topic-count="{{ merged.size }}">
            <a href="#{{ this_word | replace:' ','-' }}-topic-ref">
              <i class="fa fa-tag topic-icon-tag"></i>
              {{ this_word }}
              <span class="badge pull-right">{{ merged.size }}</span>
           </a>
        </li>
      {% endfor %}
    </ul>
</div>
<!-- Tab panes -->
<div class="tab-content col-sm-9 col-xs-6 col-sm-pull-3" style="padding-right: 20px; padding-left: 30px;">
  <div class="tab-pane" id="all-ref">
    <h2 style="margin-top: 0px">
      <i class="fa fa-th-list" style="color: #666;"></i>
      All Posts
    </h2>
    {% assign postsByYear = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
    {% for year in postsByYear %}
      <h3 style="color: #e74c3c; margin-top: 30px; margin-bottom: 15px; font-size: 24px; border-bottom: 2px solid #e74c3c; padding-bottom: 5px;">
        {{ year.name }}
        <span style="font-size: 16px; color: #999; font-weight: normal;">({{ year.items | size }} posts)</span>
      </h3>
      <ul class="list-unstyled">
        {% for post in year.items %}
          {% if post.title != null %}
            <li style="line-height: 35px;">
              <span class="text-muted" style="display: inline-block; width: 100px;">{{ post.date | date: "%b %d" }}</span>
              <a href="{{ post.url | relative_url }}">{{post.title}}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
  {% for name in topic_names %}
    {% assign this_word = name | strip %}
    {% if this_word == "" %}{% continue %}{% endif %}
    {% assign merged = "" | split: "" %}
    {% if site.categories[this_word] %}{% assign merged = merged | concat: site.categories[this_word] %}{% endif %}
    {% if site.tags[this_word] %}{% assign merged = merged | concat: site.tags[this_word] %}{% endif %}
    {% assign merged = merged | uniq | sort: 'date' | reverse %}
    <div class="tab-pane" id="{{ this_word | replace:' ','-' }}-topic-ref">
      <h2 style="margin-top: 0px">
        <i class="fa fa-tag topic-icon-tag"></i>
        Posts tagged with {{ this_word }}
      </h2>
      {% assign postsByYear = merged | group_by_exp: "post", "post.date | date: '%Y'" %}
      {% for year in postsByYear %}
        <h3 style="color: #e74c3c; margin-top: 30px; margin-bottom: 15px; font-size: 24px; border-bottom: 2px solid #e74c3c; padding-bottom: 5px;">
          {{ year.name }}
          <span style="font-size: 16px; color: #999; font-weight: normal;">({{ year.items | size }} posts)</span>
        </h3>
        <ul class="list-unstyled">
          {% for post in year.items %}
            {% if post.title != null %}
              <li style="line-height: 35px;">
                <span class="text-muted" style="display: inline-block; width: 100px;">{{ post.date | date: "%b %d" }}</span>
                <a href="{{ post.url | relative_url }}">{{post.title}}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<div class="clearfix"></div>
