---
layout: page
title: Topics
header: Browse by Topic
group: navigation
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

{% capture site_categories %}{% for category in site.categories %}{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign category_words = site_categories | split:',' | sort %}

<div class="col-sm-3 col-xs-6">
    <div class="topics-filter-container" style="margin-bottom: 15px;">
        <input type="text" id="topics-filter" class="form-control" placeholder="Filter topics..." />
    </div>
    <ul class="nav nav-tabs-vertical cat-tag-menu" id="topics-menu" data-sort-by-count="true">
      <li data-topic-name="all" data-topic-type="all" data-topic-count="{{ site.posts.size }}" style="border-bottom: 1px solid #ddd; margin-bottom: 10px; padding-bottom: 10px;">
          <a href="#all-ref">
            <i class="fa fa-th-list" style="color: #666; margin-right: 6px;"></i>
            All Posts
            <span class="badge pull-right">{{ site.posts.size }}</span>
         </a>
      </li>
      {% for category in category_words %}
        {% capture this_word %}{{ category | strip_newlines }}{% endcapture %}
        <li data-topic-name="{{ this_word | downcase }}" data-topic-type="category" data-topic-count="{{ site.categories[this_word].size }}">
            <a href="#{{ this_word | replace:' ','-' }}-cat-ref">
              <i class="fa fa-folder-open topic-icon-category"></i>
              {{ this_word }}
              <span class="badge pull-right">{{ site.categories[this_word].size }}</span>
           </a>
        </li>
      {% endfor %}
      {% for tag in tag_words %}
        {% capture this_word %}{{ tag | strip_newlines }}{% endcapture %}
        <li data-topic-name="{{ this_word | downcase }}" data-topic-type="tag" data-topic-count="{{ site.tags[this_word].size }}">
            <a href="#{{ this_word | replace:' ','-' }}-tag-ref">
              <i class="fa fa-tag topic-icon-tag"></i>
              {{ this_word }}
              <span class="badge pull-right">{{ site.tags[this_word].size }}</span>
           </a>
        </li>
      {% endfor %}
    </ul>
</div>
<!-- Tab panes -->
<div class="tab-content col-sm-9 col-xs-6">
  <div class="tab-pane" id="all-ref">
    <h2 style="margin-top: 0px">
      <i class="fa fa-th-list" style="color: #666;"></i>
      All Posts
    </h2>
    {% assign postsByYear = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
    {% for year in postsByYear %}
      <h3 style="color: #e74c3c; margin-top: 30px; margin-bottom: 15px; font-size: 24px; border-bottom: 2px solid #e74c3c; padding-bottom: 5px;">
        {{ year.name }}
        <span style="font-size: 16px; color: #999; font-weight: normal;">({{ year.items | size }} posts)</span>
      </h3>
      <ul class="list-unstyled">
        {% for post in year.items %}
          {% if post.title != null %}
            <li style="line-height: 35px;">
              <span class="text-muted" style="display: inline-block; width: 100px;">{{ post.date | date: "%b %d" }}</span>
              <a href="{{ post.url | relative_url }}">{{post.title}}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
  {% for category in site.categories %}
    {% capture this_word %}{{ category[0] | strip_newlines }}{% endcapture %}
    <div class="tab-pane" id="{{ this_word | replace:' ','-' }}-cat-ref">
      <h2 style="margin-top: 0px">
        <i class="fa fa-folder-open topic-icon-category"></i>
        Posts in {{ this_word }}
      </h2>
      {% assign postsByYear = category[1] | group_by_exp: "post", "post.date | date: '%Y'" %}
      {% for year in postsByYear %}
        <h3 style="color: #e74c3c; margin-top: 30px; margin-bottom: 15px; font-size: 24px; border-bottom: 2px solid #e74c3c; padding-bottom: 5px;">
          {{ year.name }}
          <span style="font-size: 16px; color: #999; font-weight: normal;">({{ year.items | size }} posts)</span>
        </h3>
        <ul class="list-unstyled">
          {% for post in year.items %}
            {% if post.title != null %}
              <li style="line-height: 35px;">
                <span class="text-muted" style="display: inline-block; width: 100px;">{{ post.date | date: "%b %d" }}</span>
                <a href="{{ post.url | relative_url }}">{{post.title}}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  {% endfor %}
  {% for tag in site.tags %}
    {% capture this_word %}{{ tag[0] | strip_newlines }}{% endcapture %}
    <div class="tab-pane" id="{{ this_word | replace:' ','-' }}-tag-ref">
      <h2 style="margin-top: 0px">
        <i class="fa fa-tag topic-icon-tag"></i>
        Posts tagged with {{ this_word }}
      </h2>
      {% assign postsByYear = tag[1] | group_by_exp: "post", "post.date | date: '%Y'" %}
      {% for year in postsByYear %}
        <h3 style="color: #e74c3c; margin-top: 30px; margin-bottom: 15px; font-size: 24px; border-bottom: 2px solid #e74c3c; padding-bottom: 5px;">
          {{ year.name }}
          <span style="font-size: 16px; color: #999; font-weight: normal;">({{ year.items | size }} posts)</span>
        </h3>
        <ul class="list-unstyled">
          {% for post in year.items %}
            {% if post.title != null %}
              <li style="line-height: 35px;">
                <span class="text-muted" style="display: inline-block; width: 100px;">{{ post.date | date: "%b %d" }}</span>
                <a href="{{ post.url | relative_url }}">{{post.title}}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<div class="clearfix"></div>
