<div class="page-controls">
	<button id="search-trigger" class="search-trigger" type="button" aria-label="Open search">
		<span class="search-icon"><i class="fa-solid fa-search"></i></span>
		<span class="search-placeholder">Search</span>
		<div class="search-keybind">
			<kbd class="search-key" id="search-modifier">ctrl</kbd>
			<kbd class="search-key">K</kbd>
		</div>
	</button>

	<div class="btn-group hidden-xs" id="nav-menu">
		<button type="button" class="btn btn-default dropdown-toggle" aria-haspopup="true" aria-expanded="false">
			<i class="fa-solid fa-bars"></i>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="{{ '/' | relative_url }}"><i class="fa-solid fa-home"></i>Home</a></li>
			<li><a href="{{ site.topics_path | relative_url }}"><i class="fa-solid fa-bookmark"></i>Topics</a></li>
			<li><a href="{{ site.about_page_path | relative_url }}"><i class="fa-solid fa-pencil"></i>About</a></li>
			<li class="divider"></li>
			<li><a href="#"><i class="fa-solid fa-arrow-up"></i>Top of Page</a></li>
		</ul>
	</div>
</div>
