{% if page.layout == "post" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title | escape }}",
  {% assign post_description = page.description | default: page.shortinfo %}
  {% if post_description %}
  "description": "{{ post_description | strip_html | strip_newlines | escape }}",
  {% else %}
  "description": "{{ page.excerpt | strip_html | strip_newlines | truncatewords: 30 | escape }}",
  {% endif %}
  "image": {% if page.image %}["{{ page.image | absolute_url }}"]{% else %}["{{ site.url }}/assets/media/favicon.ico"]{% endif %},
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "name": "{{ site.author.name }}",
    "url": "{{ site.url }}{{ site.baseurl }}/about.html",
    "sameAs": [
      "https://github.com/{{ site.author.github }}",
      "https://twitter.com/{{ site.author.twitter }}",
      "https://www.linkedin.com/in/{{ site.author.linkedin }}",
      "https://t.me/{{ site.author.telegram }}"
    ]
  },
  "publisher": {
    "@type": "Person",
    "name": "{{ site.author.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "https://www.gravatar.com/avatar/{{ site.author.email_md5 }}?s=200"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  },
  {% if page.categories.size > 0 %}
  "articleSection": "{{ page.categories | first }}",
  {% endif %}
  {% if page.tags.size > 0 %}
  "keywords": "{{ page.tags | join: ', ' }}",
  {% endif %}
  "inLanguage": "en-US"
}
</script>
{% endif %}
